<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/swiper.min.css">

  <script src="../static/js/jquery-1.6.4.min.js"></script>
  <script src="../static/js/unslider.min.js"></script>
    <script src="../static/js/swiper.min.js"></script>

  <!--<script src="../static/js/index.js"></script>-->

</head>

<body>
  <div class="page-box">
    <a id="top"></a>
    <div class="deep-background">
      <div class="deep-background header">
        <div class="container">
          <span class="logo"></span>
          <ul class="login-register">
            <li>登录</li>
            <li>|</li>
            <li>注册</li>
          </ul>
          <ul class="ch-en">
            <li>中</li>
            <li>/</li>
            <li>English</li>
          </ul>
          <ul class="nav nav-tabs">
            <li>
              <a href="#" class="active">首 页</a>
            </li>
            <li class="about-us">
              <a href="About.html" >关于我们</a>
              <ul class="dropdown-nav about-us-drop">
                <li>
                  <a href="Survey.html">公司概况</a>
                </li>
                <li>
                  <a href="Develop.html">发展历程</a>
                </li>
                <li>
                  <a href="Culture.html">企业文化</a>
                </li>
                <li>
                  <a href="Service.html">优质服务</a>
                </li>
                <li>
                  <a href="AboutCertificate.html">认证证书</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="Products.html" class="">产品展示</a>
              <ul class="dropdown-nav product-nav">
                <li class="main-title">
                  <a href="Products.html">主营产品</a>
                  <ul>
                    <li>
                      <a href="ProductsDetails.html">红橡</a>
                    </li>
                    <li>
                      <a>白橡</a>
                    </li>
                    <li>
                      <a>白栓</a>
                    </li>
                  </ul>
                </li>
                <li class="main-title">
                  <a>精品产品</a>
                  <ul>
                    <li>
                      <a>黑白檀</a>
                    </li>
                    <li>
                      <a>桃花芯树杈</a>
                    </li>
                    <li>
                      <a>黑柿木</a>
                    </li>
                    <li>
                      <a>金丝楠</a>
                    </li>
                  </ul>
                </li>
                <li class="main-title">
                  <a>北美材</a>
                  <ul>
                    <li>
                      <a>黑胡桃</a>
                    </li>
                    <li>
                      <a>白橡</a>
                    </li>
                    <li>
                      <a>樱桃</a>
                    </li>
                  </ul>
                </li>
                <li class="main-title">
                  <a>欧洲材</a>
                  <ul>
                    <li>
                      <a>欧枫</a>
                    </li>
                    <li>
                      <a>尼斯</a>
                    </li>
                    <li>
                      <a>尤加利</a>
                    </li>
                  </ul>
                </li>
                <li class="main-title">
                  <a>东南亚材</a>
                  <ul>
                    <li>
                      <a>黑白檀</a>
                    </li>
                    <li>
                      <a>乌木</a>
                    </li>
                    <li>
                      <a>柚木</a>
                    </li>
                  </ul>
                </li>
                <li class="main-title">
                  <a>非洲材</a>
                  <ul>
                    <li>
                      <a>斑马</a>
                    </li>
                    <li>
                      <a>沙比利</a>
                    </li>
                    <li>
                      <a>花梨</a>
                    </li>
                    <li>
                      <a>麦哥利</a>
                    </li>
                    <li>
                      <a>安利格</a>
                    </li>
                    <li>
                      <a>老虎木</a>
                    </li>
                  </ul>
                </li>
                <li class="main-title">
                  <a>中南美材</a>
                  <ul>
                    <li>
                      <a>黑柿木</a>
                    </li>
                    <li>
                      <a>酸枝</a>
                    </li>
                  </ul>
                </li>
                <li class="main-title">
                  <a>染色系列</a>
                  <ul>
                    <li>
                      <a>影木染色</a>
                    </li>
                    <li>
                      <a>雀眼染色</a>
                    </li>
                    <li>
                      <a>树瘤染色</a>
                    </li>
                    <li>
                      <a>锯齿染色</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="Cases.html" class="">产品案例</a>
            </li>
            <li>
              <a href="Cases.html" class="">木皮染色</a>
            </li>
            <li>
              <a href="News.html" class="">新闻资讯</a>
            </li>
            <li>
              <a href="ContactUs.html" class="">联系我们</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
      <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img class="sliderimg" src="../static/img/banner-2.jpg" alt="" width="100%" >
        </div>
        <div class="swiper-slide">
          <img class="sliderimg" src="../static/img/banner-1.png" alt="" width="100%" >
        </div>
        <div class="swiper-slide">
          <img class="sliderimg" src="../static/img/banner-2.jpg" alt="" width="100%" >
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
    </div>
    

    <div class="index-center">
      <div class="index-about padding-bo-60">
        <div class="container part-title">
          <img src="../static/img/parttitle-1.png" class="part-title-icon">
          <p class="part-title-text">
            <span>|</span>关于我们</p>
        </div>
        <div class="container">
          <div class="index-about-text">
            <p class="font-size-20">
              东莞市卡玛实业有限公司是一家集国际源头采购、自行工厂立体刨切、销售为一体的强势实力的北美木皮供应商，企业具备优质的源头采购竞争优势，优秀的销售团队及完善的售后服务，为全球的木皮及原木采购商营造物美价廉的采购基础。公司现拥有5万平方的可售原木堆场，4000平方米面积的木皮等级分解仓库，1000平方米的销售展厅以及300万平方的库存优势，为阁下提供完善的等级和稳定的数量，共享双赢。我们强势的北美材品种有：黑胡桃、樱桃、红橡、白橡、枫木以及限量极品非、欧洲木皮。公司不管从一颗原木到一张木皮，力争做到“棵棵精品，张张精彩”的品质管理理念。秉承我们的企业文化“因为年轻，所以超越”。为此我们不断努力，不断进步，不断更进我们的品质及售后系统，希望能与全球采购商成为好朋友。优秀的战略伙伴，肩并肩齐发展！</p>
            <a class="more-btn">查看更多</a>
          </div>
          <div class=" index-about-video">
            <div class="video-img"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="index-map">
      <p>门市分布</p>
      <div class="china-map">
        <div class="distribution chengdu">
          <a href="Mark.html" class="">成都卡玛木皮</a>
          <span>
            <img src="../static/img/mapPoint.png">
          </span>
        </div>
        <div class="distribution shanghai">
          <a href="Mark.html" class="">上海励志</a>
          <span>
            <img src="../static/img/mapPoint.png">
          </span>
        </div>
        <div class="distribution dongguan">
          <span>
            <img src="../static/img/mapPoint.png">
          </span>
          <a href="Mark.html" class="">东莞卡玛木皮</a>
        </div>
        <div class="distribution jiashan">
          <span>
            <img src="../static/img/mapPoint.png">
          </span>
          <a href="Mark.html" class="">嘉善卡玛</a>
        </div>
      </div>
    </div>
    <div class="index-product padding-bo-60">
      <div class="container part-title">
        <img src="../static/img/parttitle-2.png" class="part-title-icon">
        <p class="part-title-text">
          <span>|</span>产品展示</p>
      </div>
      <div class="container">

        <ul class="product-list">
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <a class="item-mask" href="ProductsDetails.html">
                <span>主营产品</span>
                <span>更多+</span>
              </a>
              <img src="../static/img/product-2.png">
              <a  class="">
                <p class="font-size-16 left-position">黑白檀</p>
              </a>
              <!---->
              <a href="#" class="pro-btn product-buy">购买</a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <a class="item-mask">
                <span>主营产品</span>
                <span>更多+</span>
              </a>
              <img src="../static/img/product-2.png">
              <a href="ProductsDetails.html" class="">
                <p class="font-size-16 left-position">黑白檀</p>
              </a>
              <!---->
              <a href="#" class="pro-btn product-buy">购买</a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <a class="item-mask">
                <span>主营产品</span>
                <span>更多+</span>
              </a>
              <img src="../static/img/product-3.png">
              <a href="ProductsDetails.html" class="">
                <p class="font-size-16 left-position">黑胡桃</p>
              </a>
              <a href="#" class="pro-btn product-buy">购买</a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <a class="item-mask"  href="ProductsDetails.html">
                <span>主营产品</span>
                <span>更多+</span>
              </a>
              <img src="../static/img/product-4.png">
              <a class="">
                <p class="font-size-16 left-position">尼斯</p>
              </a>
              <!---->
              <a href="#" class="pro-btn product-buy">购买</a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <a class="item-mask" href="ProductsDetails.html" >
                <span>主营产品</span>
                <span>更多+</span>
              </a>
              <img src="../static/img/product-5.png">
              <a class="">
                <p class="font-size-16 left-position">乌木</p>
              </a>
              <!---->
              <a href="#" class="pro-btn product-buy">购买</a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <a class="item-mask" href="ProductsDetails.html" >
                <span>主营产品</span>
                <span>更多+</span>
              </a>
              <img src="../static/img/product-6.png">
              <a class="">
                <p class="font-size-16 left-position">沙比利</p>
              </a>
              <!---->
              <a href="#" class="pro-btn product-buy">购买</a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <a class="item-mask" href="ProductsDetails.html" >
                <span>主营产品</span>
                <span>更多+</span>
              </a>
              <img src="../static/img/product-7.png">
              <a class="">
                <p class="font-size-16 left-position">酸枝</p>
              </a>
              <!---->
              <a href="#" class="pro-btn product-buy">购买</a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <a class="item-mask" href="ProductsDetails.html" >
                <span>主营产品</span>
                <span>更多+</span>
              </a>
              <img src="../static/img/product-8.png">
              <a class="">
                <p class="font-size-16 left-position">树溜染色</p>
              </a>
              <!---->
              <a href="#" class="pro-btn product-buy">购买</a>
            </div>
          </li>
        </ul>

      </div>
      <div class="container">
        <a href="Products.html" class="more-btn">更多产品</a>
      </div>
    </div>
    <div class="index-case padding-bo-60">
      <div class="container part-title">
        <img src="../static/img/parttitle-3.png" class="part-title-icon">
        <p class="part-title-text">
          <span>|</span>产品案例</p>
      </div>
      <div class="container">
        <a class="switch-btn switch-last" href="#"></a>
        <ul class="case-list">
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>

              <img src="../static/img/case-1.png">
              <a href="CasesDetails.html" class="">
                <p class="font-size-16">
                  皮木拼花地板</p>
              </a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <img src="../static/img/case-2.png">
              <a href="CasesDetails.html" class="">
                <p class="font-size-16">
                  木皮地板</p>
              </a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <img src="../static/img/case-3.png">
              <a href="CasesDetails.html" class="">
                <p class="font-size-16">
                  木皮墙皮</p>
              </a>
            </div>
          </li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <div>
              <img src="../static/img/case-4.png">
              <a href="CasesDetails.html" class="">
                <p class="font-size-16">
                  板式贴木皮家具</p>
              </a>
            </div>
          </li>
        </ul>
        <a class="switch-btn switch-next" href="#"></a>
      </div>
      <div class="container">
        <a href="#" class="more-btn">更多案例</a>
      </div>
    </div>
    <div class="index-news padding-bo-60">
      <div class="container part-title">
        <img src="../static/img/parttitle-4.png" class="part-title-icon">
        <p class="part-title-text">
          <span>|</span>新闻资讯</p>
      </div>
      <div class="container">
        <a class="switch-btn switch-last" href="#"></a>
        <ul class="news-list">
          <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a href="NewsDetails.html" class="">
              <p class="date">05/10
                <span>2018</span>
              </p>
              <p class="title">红橡山AAA级</p>
              <img src="../static/img/news-1.png">
              <p class="content">
                东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
            </a>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a href="NewsDetails.html" class="">
              <p class="date">05/10
                <span>2018</span>
              </p>
              <p class="title">红橡山AAA级</p>
              <img src="../static/img/news-2.png">
              <p class="content">
                东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
            </a>
          </li>
          <li class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <a href="NewsDetails.html" class="">
              <p class="date">05/10
                <span>2018</span>
              </p>
              <p class="title">红橡山AAA级</p>
              <img src="../static/img/news-3.png">
              <p class="content">
                东莞市卡玛木业供应大量北美木材，现供应红橡山纹AAA级，品质保证，价格实惠，欢迎新老客户前来咨询、洽谈，我们卡玛木业将以最优惠的价格供你考虑，也可来本店亲自挑选你所需要的产品，卡玛木业一直是以专注。真诚为核心的销售理念，为未来品牌打造良好的开端，欢迎有意向者的朋友前来购买</p>
            </a>
          </li>
        </ul>
        <a class="switch-btn switch-next" href="#"></a>
      </div>
      <div class="container">
        <a href="#" class="more-btn">更多新闻</a>
      </div>
    </div>
    <div class="index-partner padding-bo-60">
      <div class="container">
        <p class="title">来自全球的合作伙伴</p>
        <p class="description">卡玛用心，用户安心。不懈地了解客户需求、帮助客户，为客户提供优质的产品与专业的支持。始终以客户为中心，坚持客户第一。</p>
        <a class="switch-btn switch-last" style="top:260px" href="#"></a>
        <ul class="partner-list">
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 partner-1"></li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 partner-2"></li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 partner-3"></li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 partner-4"></li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 partner-5"></li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 partner-6"></li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 partner-7"></li>
          <li class="col-lg-3 col-md-3 col-sm-3 col-xs-6 partner-8"></li>
        </ul>
        <a class="switch-btn switch-next" style="top:260px"  href="#"></a>
      </div>
    </div>
    <div class="deep-background footer">
      <div class="container">
        <ul class="footer-list">
          <li>
            <a href="#">关于卡玛</a>
          </li>
          <li>
            <a href="#">卡玛简介</a>
          </li>
          <li>
            <a href="#">卡玛特色</a>
          </li>
          <li>
            <a href="#">服务条款</a>
          </li>
          <li>
            <a href="#">卡玛资讯</a>
          </li>
        </ul>
        <ul class="footer-list ">
          <li>
            <a href="#">帮助中心</a>
          </li>
          <li>
            <a href="#">购买流程</a>
          </li>
          <li>
            <a href="#">在线支付</a>
          </li>
          <li>
            <a href="#">关于发票</a>
          </li>
          <li>
            <a href="#">配送方式</a>
          </li>
        </ul>
        <ul class="footer-list">
          <li>
            <a href="#">卡玛国际</a>
          </li>
          <li>
            <a href="#">卡玛商城</a>
          </li>
          <li>
            <a href="#">皮木专家网</a>
          </li>
          <li>
            <a href="#">中国木材网</a>
          </li>
        </ul>
        <ul class="footer-list">
          <li>
            <a href="#">联系卡玛</a>
          </li>
          <li class="qr-code"></li>
          <li>
            <a href="#">电话：0769-82906000</a>
          </li>
          <li>
            <a href="#">邮箱：kamawoods@163.com</a>
          </li>
        </ul>
      </div>
      <div class="container">
        <hr>
        <p class="record">@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p>
      </div>
    </div>
  </div>
<script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  </script>
</body>

</html>