<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/css/common.css">
</head>
<body>
<div class="page-box">
  <div class="deep-background">
    <div class="deep-background header">
      <div class="container"><span class="logo"></span>
        <ul class="login-register">
          <li>登录</li>
          <li>|</li>
          <li>注册</li>
        </ul>
        <ul class="ch-en">
          <li>中</li>
          <li>/</li>
          <li>English</li>
        </ul>
        <ul class="nav nav-tabs">
          <li>
            <a href="#" class="active">首 页</a>
          </li>
          <li class="about-us">
            <a href="About.html" >关于我们</a>
            <ul class="dropdown-nav about-us-drop">
              <li>
                <a href="Survey.html">公司概况</a>
              </li>
              <li>
                <a href="Develop.html">发展历程</a>
              </li>
              <li>
                <a href="Culture.html">企业文化</a>
              </li>
              <li>
                <a href="Service.html">优质服务</a>
              </li>
              <li>
                <a href="AboutCertificate.html">认证证书</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="Products.html" class="">产品展示</a>
            <ul class="dropdown-nav product-nav">
              <li class="main-title">
                <a href="Products.html">主营产品</a>
                <ul>
                  <li>
                    <a href="ProductsDetails.html">红橡</a>
                  </li>
                  <li>
                    <a>白橡</a>
                  </li>
                  <li>
                    <a>白栓</a>
                  </li>
                </ul>
              </li>
              <li class="main-title">
                <a>精品产品</a>
                <ul>
                  <li>
                    <a>黑白檀</a>
                  </li>
                  <li>
                    <a>桃花芯树杈</a>
                  </li>
                  <li>
                    <a>黑柿木</a>
                  </li>
                  <li>
                    <a>金丝楠</a>
                  </li>
                </ul>
              </li>
              <li class="main-title">
                <a>北美材</a>
                <ul>
                  <li>
                    <a>黑胡桃</a>
                  </li>
                  <li>
                    <a>白橡</a>
                  </li>
                  <li>
                    <a>樱桃</a>
                  </li>
                </ul>
              </li>
              <li class="main-title">
                <a>欧洲材</a>
                <ul>
                  <li>
                    <a>欧枫</a>
                  </li>
                  <li>
                    <a>尼斯</a>
                  </li>
                  <li>
                    <a>尤加利</a>
                  </li>
                </ul>
              </li>
              <li class="main-title">
                <a>东南亚材</a>
                <ul>
                  <li>
                    <a>黑白檀</a>
                  </li>
                  <li>
                    <a>乌木</a>
                  </li>
                  <li>
                    <a>柚木</a>
                  </li>
                </ul>
              </li>
              <li class="main-title">
                <a>非洲材</a>
                <ul>
                  <li>
                    <a>斑马</a>
                  </li>
                  <li>
                    <a>沙比利</a>
                  </li>
                  <li>
                    <a>花梨</a>
                  </li>
                  <li>
                    <a>麦哥利</a>
                  </li>
                  <li>
                    <a>安利格</a>
                  </li>
                  <li>
                    <a>老虎木</a>
                  </li>
                </ul>
              </li>
              <li class="main-title">
                <a>中南美材</a>
                <ul>
                  <li>
                    <a>黑柿木</a>
                  </li>
                  <li>
                    <a>酸枝</a>
                  </li>
                </ul>
              </li>
              <li class="main-title">
                <a>染色系列</a>
                <ul>
                  <li>
                    <a>影木染色</a>
                  </li>
                  <li>
                    <a>雀眼染色</a>
                  </li>
                  <li>
                    <a>树瘤染色</a>
                  </li>
                  <li>
                    <a>锯齿染色</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li>
            <a href="Cases.html" class="">产品案例</a>
          </li>
          <li>
            <a href="Cases.html" class="">木皮染色</a>
          </li>
          <li>
            <a href="News.html" class="">新闻资讯</a>
          </li>
          <li>
            <a href="ContactUs.html" class="">联系我们</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="carousel" class="carousel-wrap big-width">
    <ul class="slide-ul">
      <li show="true"><a href="#"><img data-v-ff942d88=""
                                       src="../static/img/servicebanner.png"
                                       alt="nhwc"></a></li>
    </ul> <!----></div>
  <div class="container"><p class="inner-nav"><a href="About.html">关于我们</a><span class="left-arrow"></span>优质服务 </p>
    <div class="page-inner-title"><p>优质服务</p>
      <hr>
    </div>
    <div class="service-content">
      <div><p class="service-title">科学的服务支持</p>
        <ul>
          <li>拥有高标准的旗舰店</li>
          <li>拥有高标准统一管理的授权店</li>
        </ul>
      </div>
      <div><p class="service-title">专业的软件支持</p>
        <ul>
          <li>合理科学的卖场环境规划</li>
          <li>统一卖场管理手册</li>
          <li>优质的客户跟踪服务管理体系</li>
          <li>统一联合促销活动</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="deep-background footer">
    <div class="container">
      <ul class="footer-list">
        <li><a href="#">关于卡玛</a></li>
        <li><a href="#">卡玛简介</a></li>
        <li><a href="#">卡玛特色</a></li>
        <li><a href="#">服务条款</a></li>
        <li><a href="#">卡玛资讯</a></li>
      </ul>
      <ul class="footer-list ">
        <li><a href="#">帮助中心</a></li>
        <li><a href="#">购买流程</a></li>
        <li><a href="#">在线支付</a></li>
        <li><a href="#">关于发票</a></li>
        <li><a href="#">配送方式</a></li>
      </ul>
      <ul class="footer-list">
        <li><a href="#">卡玛国际</a></li>
        <li><a href="#">卡玛商城</a></li>
        <li><a href="#">皮木专家网</a></li>
        <li><a href="#">中国木材网</a></li>
      </ul>
      <ul class="footer-list">
        <li><a href="#">联系卡玛</a></li>
        <li class="qr-code"></li>
        <li><a href="#">电话</a></li>
        <li><a href="#">邮箱</a></li>
      </ul>
    </div>
    <div class="container">
      <hr>
      <p class="record">@东莞市卡玛实业有限公司 ICP备案 京ICP备17042034号-3</p></div>
  </div>
</div>
</body>
</html>